@font-face {
    font-family: "Redacted";
    src: url("../fonts/web/redacted-regular.eot");
    src: url("../fonts/web/redacted-regular.woff2") format("woff2"),
         url("../fonts/web/redacted-regular.woff") format("woff"),
         url("../fonts/web/redacted-regular.otf") format("opentype"),
         url("../fonts/web/redacted-regular.svg#filename") format("svg");
}